<!-- <% if(<%=username%>){%>
        <h1>Links associated with user <u><%=username%></u> </h1> 
    
        <p>(Total links are <%=allLinks.length%>)</p> 
        
        <h2><%=msg%>.</h2>
        <ul>
            <% for(let i = 0 ; i<allLinks.length ; i++){ %>
                <li>
                    <a href="../<%=allLinks[i]%>" target="_blank"><%=allLinks[i]%></a>
                </li>
            <% } %>
        </ul>
    <% } else { %>
        <h2><%=msg%>.</h2>
    <% } %>-->